.submitBtnDiv {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: input-mono-narrow, monospace;
}

.btn {
    background-color: black;
    padding: 1em 2em;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    transition: background-color 0.3s linear 0.3s;
    transition: color 0.3s;
    color: white;
}

.button::after {
    content: "";
    display: block;
    border: 1px solid aquamarine;
    background: none;
    position: absolute;
    inset: 0;
    transition: all 0.3s linear;
}

.button:hover::after {
    transform: scaleX(0);
}

.button:hover {
    background-color: aquamarine;
    color: black;
    transition: color 1.5s ease;
}

label {
    font-family: input-mono-narrow, monospace;
    color: white;
}

.form-group {
    margin: 20px;
}

input,
textarea {
    min-height: 28px;
    border-radius: 5px;
}

.PhoneInputCountry {
    padding: 5px 5px 5px 5px;
    border: 1px solid aquamarine;
    border-radius: 5px;
}

.PhoneDiv {
    display: inline-flex;
}

.PhoneInputCountry {
    float: left;
    min-width: 50px;
}

select::-ms-expand {
    display: none;
}

.PhoneInputCountry:after {
    content: '>';
    font: 13px "Consolas", monospace;
    color: aquamarine;
    transform: rotate(90deg);
    right: 7px;
    position: absolute;
    pointer-events: none;
}

.PhoneInputCountry select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: right;
    color: aquamarine;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    background-color: rgb(49, 49, 49);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74vh;
}

.card {
    width: 40%;

}

.card:hover {
    transition-duration: 0.5s;
    box-shadow: 0 1px 10px 1px aquamarine;
}